/* ===================================== ALLGEMEIN ====================================== */

body {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

/* ===================================== HEADER ====================================== */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgb(218, 220, 224);
    padding-left: 5%;
    padding-right: 5%;
}

header img {
    height: 35px;
    width: auto;
    margin-right: 1rem;
}

header p {
    font-size: 2rem;
}

/* ===================================== CONTENT ====================================== */
.imgContainer {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

/* ===================================== Show picture ====================================== */
.imgBox {
    height: 150px;
    min-width: calc(100% / 5);
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.imgBox:hover {
    box-shadow: inset 0 0 30px 10px black;
}

.backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    padding: 0;
}

.overlay {
    top: 0;
    width: 90vw;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.overlay>div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.overlay>div:first-of-type:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 5px 5px white;
}

.overlay>div:last-of-type {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.overlay>div:last-of-type>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    z-index: 5;
    border: 1px solid black;
}

.overlay>div:last-of-type>div:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 5px 5px white;
}

.overlay img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.dots {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
}

.showImage {
    position: relative;
    height: 90%;
    width: 90%;
    z-index: 3;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.showImage>img {
    width: 100%;
    height: 100%;
    z-index: 4;
    object-fit: cover;
}